.vs/
# Nunca subir esto
Sirgep/SirgepPresentacion/DriveAuth/credentials.json
# Archivos binarios y temporales
**/bin/
**/obj/
*.dll
*.pdb
*.cache
*.exe
*.txt
# Ignorar paquetes NuGet descargados localmente
/packages/
/**/packages/
Sirgep/packages/

