
/*
    Aca va el CSS personalizado de la aplicacion (si hiciera falta)
*/
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.btn-sm {
    margin: 0 2px;
}

.nav-link {
    color: white !important;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

.footer {
    margin-top: auto;
    background-color: #d10b0b;
}
/* Asegura que el body ocupe toda la altura de la ventana */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* El contenedor principal debe crecer dinámicamente */
.container {
    flex: 1;
}

/* El footer se posiciona al final */
.footer {
    background-color: #f10909;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
