<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <databaseSettings>
    <add key="host" value="mydatabase.crc6cw28o0kr.us-east-1.rds.amazonaws.com" />
    <add key="port" value="3306" />
    <add key="database" value="TA_SIRGEP" />
    <add key="user" value="admin" />
    <add key="password" value="#ana_12345_#ana" />
    <add key="minPoolSize" value="5" />
    <add key="maxPoolSize" value="50" />
    <add key="connectionTimeout" value="30" />
  </databaseSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProvinciaWSPortBinding" />
        <binding name="DepartamentoWSPortBinding" />
        <binding name="EntradaWSPortBinding" />
        <binding name="DistritoWSPortBinding" />
        <binding name="EspacioWSPortBinding" />
        <binding name="EventoWSPortBinding" />
        <binding name="CompraWSPortBinding" />
        <binding name="ReservaWSPortBinding" />
        <binding name="PersonaWSPortBinding" />
        <binding name="HorarioEspacioWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SirgepWS/ReservaWS"
        binding="basicHttpBinding" bindingConfiguration="ReservaWSPortBinding"
        contract="ReferenciaDisco.ReservaWS" name="ReservaWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/HorarioEspacioWS"
        binding="basicHttpBinding" bindingConfiguration="HorarioEspacioWSPortBinding"
        contract="ReferenciaDisco.HorarioEspacioWS" name="HorarioEspacioWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/DepartamentoWS"
        binding="basicHttpBinding" bindingConfiguration="DepartamentoWSPortBinding"
        contract="ReferenciaDisco.DepartamentoWS" name="DepartamentoWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/EntradaWS"
        binding="basicHttpBinding" bindingConfiguration="EntradaWSPortBinding"
        contract="ReferenciaDisco.EntradaWS" name="EntradaWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/DistritoWS"
        binding="basicHttpBinding" bindingConfiguration="DistritoWSPortBinding"
        contract="ReferenciaDisco.DistritoWS" name="DistritoWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/CompraWS" binding="basicHttpBinding"
        bindingConfiguration="CompraWSPortBinding" contract="ReferenciaDisco.CompraWS"
        name="CompraWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/EventoWS" binding="basicHttpBinding"
        bindingConfiguration="EventoWSPortBinding" contract="ReferenciaDisco.EventoWS"
        name="EventoWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/EspacioWS"
        binding="basicHttpBinding" bindingConfiguration="EspacioWSPortBinding"
        contract="ReferenciaDisco.EspacioWS" name="EspacioWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/PersonaWS"
        binding="basicHttpBinding" bindingConfiguration="PersonaWSPortBinding"
        contract="ReferenciaDisco.PersonaWS" name="PersonaWSPort" />
      <endpoint address="http://localhost:8080/SirgepWS/ProvinciaWS"
        binding="basicHttpBinding" bindingConfiguration="ProvinciaWSPortBinding"
        contract="ReferenciaDisco.ProvinciaWS" name="ProvinciaWSPort" />
    </client>
  </system.serviceModel>
</configuration>